
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    background-image: url(../IMG/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1140pt;
    width: 1140pt;
}
.card-front {
    overflow: hidden;
    background-color: aliceblue;
    height: 360pt;
    width: 617pt;
    border-radius: 10pt;
    position: absolute;
    top: 25pt;
    /* left: 576pt; */
    box-shadow: 0pt 24pt 22pt rgb(38 57 77);
}
.card-front .org-logo{
    position: absolute;
    top: 40pt;
    left: 45pt;
    height: 97pt;
    width: 274pt;

}
.card-front .qr{
    position: absolute;
    top: 200pt;
    left: 85pt;
    height: 130pt;
    width: 130pt;
    border: 3pt solid #12b9b5;
    
}
.rectangle {
    right: -95pt;
    top: 21pt;
    width: 348pt;
    height: 385pt;
    border: 2pt solid #12b9b5;
    background: #12b9b5 !important;
    position: absolute;
    border-radius: 34pt;
    transform: rotate(66deg) skew(25deg, -27deg);
    box-shadow: 21pt 3pt 1pt 21pt;
    color: #000000;
}

.rectangle1{
    left: 385pt;
    top: -67pt;
    width: 26pt;
    height: 250pt;
    background: #000000 !important;
    position: absolute;
    transform: rotate(44deg) skew(3deg, 45deg);
    border-bottom-left-radius: 122pt;
}
.card-back{
    background-color: aliceblue;
    height: 360pt;
    width: 617pt;
    border-radius: 10pt;
    position: absolute;
    top: 590pt;
    overflow: hidden;
    box-shadow:  0pt 24pt 22pt rgb(38 57 77);
}
.card-back .rect1{
    bottom: 21pt;
    width: 223pt;
    height: 40pt;
    background: #12b9b5;
    position: absolute;
    left: -25pt;
    transform: skewX(-45deg);
}
.card-back .rect2{
    bottom: 20pt;
    width: 432pt;
    height: 40pt;
    background: #12b9b5;
    position: absolute;
    right: -25pt;
    transform: skewX(-45deg);
}
.card-front .content{
    position: absolute;
    /*transform: rotate(320deg);*/
    left: 50pt;
}


.card-back .org-logo-back{
    top: 50pt;
    left: 153pt;
    height: 85pt;
    width: 295pt;
    position: absolute;
}
.content-front .content .party-name
{
    font-family: "Roboto Slab", serif;
    color: aliceblue;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: inherit;
    width: 195pt;
    font-size: 2.5em;
    
}

.content-front  .content .party-job-title
{
  font-family: serif;
  font-optical-sizing: auto;
  font-size: 1.2em;
  margin-top: -10pt;
}
.content-front  .content .company
{
    font-weight: 130;
    font-size: 1.0em;
    font-family: "Roboto Slab", serif;
    margin-top: -5pt;
}
.content-front .information{
    position: absolute;
    top: 103pt;
    left: 4pt;
    height: 166pt;
    width: 273pt;
    font-size: 15pt;
   /* transform: rotate(-41deg);*/
}
.content-front .information i{
    color: black;
    background: aliceblue;
    height: 25pt;
    width: 25pt;
    text-align: center;
    border-radius: 3pt;
    padding-top: 3pt;
}

.party-phone
{
font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  margin-top: 16pt;
  position: relative;
  top: 0pt;
  left: -14pt;
}

.party-email
{
    font-weight: bolder;
    font-family: "Roboto Slab", serif;
    font-size: 1.3em;
    position: relative;
    top: 0pt;
    left: -14pt;
    padding-top: 13pt;
}

.party-phone-lable
{
  font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    padding-left: 3pt;
    
}

.party-phone-number
{
  font-weight: normal;
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    
}

.party-email-lable
{
  font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    padding-left: 3pt;
}

.party-email-address
{
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  
}
.content-front{
    top: 90pt;
    height: 266pt;
    width: 275pt;
    left: 340pt;
    color: aliceblue;
    position: absolute;
}
.address{
    font-weight: bolder;
    font-family: "Roboto Slab", serif;
    font-size: 1.3em;
    position: relative;
    top: 0pt;
    left:-14pt;
    padding-top: 13pt;
}
.information ul {
	list-style-type: none;
}

.information ul li{
	margin-left: -30pt;
    padding-bottom: 10pt;
}

.information ul li span{
	text-align: left;
    margin-left: 10pt;
    position: absolute;
    font-size: 14pt;
}
.card-back ul{
    position: absolute;
    left: 20pt;
    top: 190pt;
    display: flex;
    list-style: none;
}
.card-back ul li{
    background: #12b9b5;
    width: 20pt;
    height: 20pt;
    text-align: left;
    border-radius: 3pt;
    margin-right: 185pt;
    padding: 3pt 16pt 4pt 4pt;
    display: flex;
    
}
p {
    height: 111pt;
    width: 170pt;
    position: absolute;
    top: -2pt;
    left: 39pt;
    margin-top: -44pt;
    margin-left: 17pt;

}
.org-email{
    position: absolute;
    left: 260pt;
    top: 1pt;
}
.org-website{
    position: absolute;
    left: 465pt;
    top: 0pt;
}
.card-back .org-name{
    position: absolute;
    top: 135pt;
    left: 33pt;
    font-size: 29pt;
    font-family: auto;
}